In [3]:
import janitor as jn
import pandas as pd

In [4]:
Xbad = pd.DataFrame(
    {
        "A": [1, None, 3],
        " sales numbers ": [20.0, 30.0, None],
    }
)

In [5]:
jn.clean_names(Xbad)

     a  _sales_numbers_
0  1.0             20.0
1  NaN             30.0
2  3.0              NaN

In [6]:
def clean_col(name):
    return (
        name.strip().lower().replace(" ", "_")
    )

In [7]:
Xbad.rename(columns=clean_col)

     a  sales_numbers
0  1.0           20.0
1  NaN           30.0
2  3.0            NaN

In [12]:
Xbad.coalesce(
    "A", " sales numbers ",
    target_column_name="val",
)

     A   sales numbers    val
0  1.0             20.0   1.0
1  NaN             30.0  30.0
2  3.0              NaN   3.0

In [13]:
Xbad.fillna(10)

      A   sales numbers
0   1.0             20.0
1  10.0             30.0
2   3.0             10.0

In [15]:
jn.fill_empty(Xbad, ["A", " sales numbers "], value=10)

      A   sales numbers
0   1.0             20.0
1  10.0             30.0
2   3.0             10.0

In [17]:
Xbad.isna().any().any()

True